{
  "presets": [ ["env", { "modules": false }], "react"],
  "env": {
      "development": {
          "plugins": [
            ["react-transform", {
              "transforms": [{
                "transform" : "react-transform-hmr",
                "imports"   : ["react"],
                "locals"    : ["module"]
          }]
        }]
      ]
    },
    "production": {
      "plugins": ["transform-react-inline-elements"]
    }
  }
}
