@import url(https://fonts.googleapis.com/css?family=Fjalla+One|Lora:400,700,400italic,700italic);
:root {
    --bg-color: white;
  }
  

body {
    background: var(--bg-color);
    font-family: 'Fjalla One', sans-serif;
    margin:  0;
    padding: 0;
}
  
section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
section h1 {
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 0;
    font-weight: 400;
    text-align: center;
    margin: 15px 0;
}
section h2 {
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0;
    font-weight: 300;
    text-align: center;
    margin: 15px 0;
}
section p {
    font-size: 20px;
    text-align: justify;
}
#sec2 {
    padding: 50px 150px;
    box-sizing: border-box;
}
.spacer {
    margin: 30px auto;
}
.btn {
    background-color: #59ABE3;
    font-size: 16px;
    color: white;
    padding: 10px 30px;    
    border: none;
    border-radius: 9px 27px;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.2), 0 4px 10px 0 rgba(0,0,0,0.19);
    position: fixed;
    right: 23px;
    margin-top: 15px;
    z-index: 997;
    margin-right: 60px;
}
input {
    margin: 11px;
}
.skewed-up-left {
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 100px 0 0 100vw;
    border-color: transparent transparent transparent  var(--bg-color);
    border-style: solid;
}
.skewed-down-right {
    position: absolute;
    top: 0;
    left: 0;
    border-width: 0 100vw 100px 0;
    border-color: transparent  var(--bg-color) transparent transparent ;
    border-style: solid;
}
.skewed-up-right {
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 100px 100vw 0 0;
    border-color: transparent  var(--bg-color) transparent transparent ;
    border-style: solid;
}

.pure-img {
    min-width: 100%;
    height: 100%;
}
input[type=text] {
    width:80%;
    border:4px solid rgb(4, 89, 168);
    border-radius:5px;
    margin:8px;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
    font-size: 20px;
    text-transform: uppercase;
}
input[type=text]:focus{
    border-color:dodgerBlue;
    box-shadow:0 0 8px 0 dodgerBlue;
}
  
.pure-form {
    margin: 5px 5%;
}
.pure-form button {
    font-size: 20px;
    vertical-align: 0%;
}