@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    background: #BE90D4;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    margin:  0;
    padding: 0;
  }
  
.App {
    display: flex;
    justify-content: space-between;
}

#inner {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    min-height: 80%;
    min-width: 700px;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px, rgba(0, 0, 0, 0.3) 0px 5px 5px -3px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.btn {
    background-color: #59ABE3;
    font-size: 16px;
    color: white;
    padding: 10px 30px;    
    border: none;
    border-radius: 9px 27px;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.2), 0 4px 10px 0 rgba(0,0,0,0.19);
    position: fixed;
    right: 23px;
    margin-top: 15px;
    z-index: 997;
    margin-right: 60px;
}
input {
    margin: 10px;
}