@import url(https://fonts.googleapis.com/css?family=Roboto);
:root {
    --bg-color: white;
  }
  

body {
    background: var(--bg-color);
    font-family: 'Roboto', sans-serif;
    margin:  0;
    padding: 0;
}
  
section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
#sec2 {
    padding: 50px 150px;
    box-sizing: border-box;
}
.btn {
    background-color: #59ABE3;
    font-size: 16px;
    color: white;
    padding: 10px 30px;    
    border: none;
    border-radius: 9px 27px;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.2), 0 4px 10px 0 rgba(0,0,0,0.19);
    position: fixed;
    right: 23px;
    margin-top: 15px;
    z-index: 997;
    margin-right: 60px;
}
input {
    margin: 11px;
}
.skewed-up-left {
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 100px 0 0 100vw;
    border-color: transparent transparent transparent  var(--bg-color);
    border-style: solid;
}
.skewed-down-right {
    position: absolute;
    top: 0;
    left: 0;
    border-width: 0 100vw 100px 0;
    border-color: transparent  var(--bg-color) transparent transparent ;
    border-style: solid;
}
.skewed-up-right {
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 100px 100vw 0 0;
    border-color: transparent  var(--bg-color) transparent transparent ;
    border-style: solid;
}

.pure-img {
    min-width: 100%;
    height: 100%;
}